<!DOCTYPE html>
<h2>Title</h2>
<br> <!-- whitespace break -->
<hr> <!-- line break -->
<!-- section with image on the right -->
<span class="right"><img src="#" alt=""></span>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quos sed neque veritatis non id aliquid eveniet.
    Incidunt eligendi consequuntur assumenda alias error maiores aspernatur ratione fugiat temporibus provident
    veritatis illum quis labore dolore fugit explicabo, pariatur amet asperiores quas!</p>
<br> <!-- whitespace break -->
<!-- section with image on left -->
<span class="left"><img src="#" alt=""></span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ab ratione rem quisquam nisi, quaerat nesciunt
    ad sed fugiat maxime quia reiciendis in vitae ea eos beatae nihil, nostrum dolores architecto quod debitis? Dolore
    quam, dolorem aperiam veritatis reprehenderit consectetur.</p>