<!DOCTYPE html> <!-- Do not copy this line -->

<!-- Changeable names start with "__" -->

<div id="__name" class="content-container">
    <span class="right">
        <script class="jmol" src="../structures/__pbdID.js"></script>
    </span>
    <h2>Title</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est illum, quam expedita consequatur vel aliquid
        error dicta molestias velit a! Rerum, qui blanditiis consequuntur quos sunt molestiae aspernatur, quas
        consequatur provident commodi expedita minima tempora itaque amet, deserunt hic nobis?</p>
</div>