.content-container span.right,
span.left,
span.no-float {
  margin: 0 0 20px 0;
}

p {
  font-size: large;
}

.ref {
  text-decoration: none;
}

.link sup {
  text-decoration: underline;
  color: var(--unc-blue);
  cursor: pointer;
}

.slideshow {
  max-width: 100%;
}

.slideshow ul {
  margin: 0 0 0 15px;
}

.slideshow img {
  width: 30vw;
  border: 0.1rem solid black;
}

.slideshow img:hover {
  cursor: pointer;
}

.side,
.side-reverse {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: start;
}

span p {
  font-size: small;
}

.side-reverse {
  flex-direction: row-reverse;
  text-align: end;
}

.side span {
  flex-wrap: wrap;
  flex-direction: column;
}

.no-border {
  border: none;
}

.no-float {
  display: inline-flex;
  flex-direction: column;
}
