:root {
  --text-color-main: rgb(66, 66, 66);
  --unc-blue: #4b9cd3;
  --unc-blue-alt: #30536b;
}

.buttons {
  padding: 20px 0 0 0;
}

.buttons span {
  font-size: xx-large;
  cursor: pointer;
}

.buttons span:hover {
  color: rebeccapurple;
}

.slideshow {
  border: 0.1rem solid black;
}

.slideshow img {
  border: 0.1rem solid black;
}

.buttons .pageNum {
  font-size: larger;
  bottom: 8px;
  position: relative;
  padding: 2px;
  border: 0.08rem solid black;
}