:root {
  --text-color-main: rgb(66, 66, 66);
  --unc-blue: #4b9cd3;
  --unc-blue-alt: #30536b;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color-main);
  scroll-behavior: smooth;
  cursor: default;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

html {
  overflow-y: overlay;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 8vh;
}

::-webkit-scrollbar-thumb {
  background: #888;
  height: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-container {
  padding: 0px 40px 40px 40px;
}

.content-container {
  padding: 20px;
  display: inline-block;
}

.content-container span img {
  width: 20vw;
  min-width: 200px;
}

.content-container span p.image-1 {
  width: 190px;
  padding: 5px;
}

p.image-2,
p.image-3 {
  width: calc(20vw - 10px);
  min-width: 190px;
  padding: 5px;
  margin: 0;
}

.credit {
  font-size: small;
  color: rgba(66, 66, 66, 0.6);
}

canvas {
  z-index: 1;
}

span.right {
  float: right;
  margin: 0 0 20px 20px;
}

span.left {
  float: left;
  margin-right: 20px;
}

p {
  font-size: x-large;
}

hr.soft {
  border-color: rgba(188, 188, 188, 0.2);
}

nav {
  height: 8vh;
  width: 100%;
  background-color: var(--unc-blue);
  margin-bottom: 25px;
  position: sticky;
  top: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  z-index: 9999999;
}

nav img {
  height: 8vh;
  padding: 0 20px;
  padding-right: 5px;
  float: left;
  filter: brightness(0%) saturate(100%) invert(100%);
}

nav span {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  line-height: 8.2vh;
  color: white;
  cursor: default;
}

nav span.menubtn {
  background: transparent;
  line-height: 8vh;
  font-size: 2rem;
  float: right;
  padding: 0 20px;
  display: none;
  cursor: pointer;
}

nav span.menubtn:hover,
nav span.menubtn.active {
  color: #555;
}

nav ul {
  display: flex;
  margin: 0;
  float: right;
  list-style: none;
}

.openmenu {
  position: sticky;
  top: calc(8vh);
  margin-top: -25px;
  height: 0;
  float: right;
  z-index: 99;
}

.openmenu ul {
  background: var(--unc-blue);
  list-style: none;
  position: sticky;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.openmenu ul li a {
  text-decoration: none;
  display: block;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 20px;
}

.close {
  display: none;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  color: white;
  padding: 0 20px;
  text-decoration: none;
  font-weight: bold;
  line-height: 8vh;
  cursor: pointer;
}

nav ul:last-child {
  padding-right: 0;
}

nav a:hover,
nav a.current {
  background: var(--unc-blue-alt);
}

.link, .link sup {
  color: var(--unc-blue);
}

.link:hover, .link sup:hover {
  background-color: transparent;
  cursor: pointer;
  color: var(--unc-blue-alt);
}

.buttons {
  padding: 20px 0 0 11px;
  user-select: none;
}

.buttons span {
  font-size: xx-large;
  cursor: pointer;
  user-select: none;
}

.buttons span.material-symbols-outlined:hover {
  color: var(--unc-blue);
}

.buttons .pageNum {
  font-size: larger;
  bottom: 8px;
  position: relative;
  padding: 2px;
  cursor: default;
}

@media (min-width: 833px) {
  .navlist {
    display: flex;
  }
  html {
    overflow-y: overlay;
  }
}

@media (max-width: 834px) {
  nav span.menubtn {
    display: block;
  }
  p {
    font-size: medium;
  }
  h1 {
    font-size: larger;
  }
  h2 {
    font-size: large;
  }
  .navlist {
    display: none;
  }
  html {
    overflow-y: overlay;
  }
}
